<div class="card text-center mt-3" id="cardHov">
  <div class="card-header">
    <h2 class="card-title">Ref: {{referencia.referencia}}</h2>

  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="card-text" #refText>Cita: {{referencia.cita}}</p>
      <footer class="blockquote-footer ">
        <h5>{{referencia.subReferencia}}</h5>
        <button type="submit" class="btn btn-lg btn-success mx-auto" (click)="borrarReferencia(referencia.$key)">
          Borrar</button>
      </footer>
    </blockquote>
  </div>
</div>