<main class="card" id="Reference">
  <h3 class="text-center">ICONTEC</h3>
  <h5 class="text-center">Tesis</h5>

  <form id="formReference" (ngSubmit)="addReference()" #validForm="ngForm">
    <div class="form-row">
      
      <div class="col-md-3">
        <div *ngFor="let item of nombres; let in=index" class="border rounded mb-2 p-2">
            <div class="form-group">
              <label for="title">Nombre</label>
              <input type="text" placeholder="Félix" class="form-control" id="title" maxlength="100" [(ngModel)]="nombres[in].value"
                name="nameN{{in}}">
            </div>

            <div class="form-group">
              <label for="title">Apellido</label>
              <input type="text" placeholder="BERRQUET MARIMON" class="form-control" id="title" maxlength="100" [(ngModel)]="apellidos[in].value"
                name="nameA{{in}}">
            </div>
            <button class="btn btn-outline-danger btn-sm d-block mx-auto" *ngIf="in != 0" (click)="quitAuthor(in)">Quitar</button>
          </div>
          <button class="btn btn-outline-primary btn-sm d-block mx-auto" type="button" (click)="addAuthor()">Agregar Autor</button>
      </div>

      <div class="col-md-8 offset-md-1">
        <div class="form-row">
          <div class="form-group col-12">
            <label for="titulo">Titulo</label>
            <input type="text" placeholder="Experiencia de iniciaciones cultura investigativa con estudiantes de pregrado desde un semillero de investigación" class="form-control" id="titulo" maxlength="100" [(ngModel)]="titulo"
              name="titulo">
          </div>

          <div class="form-group col-md-4">
            <label for="ciudad">Ciudad de Publicacion</label>
            <input type="text" placeholder="Medellin" class="form-control" id="ciudad" maxlength="100" [(ngModel)]="ciudad"
              name="ciudad">
          </div>

          <div class="form-group col-md-4">
            <label for="anioPublicacion">Año de publicación</label>
            <select [(ngModel)]="anioPublicacion" name="anioPublicacion" class="form-control">
              <option value="" disabled selected>Año Publicación</option>
              <option *ngFor="let anio of anio" value="{{anio}}">{{anio}}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="paginas">Numero de paginas</label>
            <input type="number" placeholder="Numero Total" class="form-control" id="paginas" maxlength="100" [(ngModel)]="paginas"
              name="paginas">
          </div>
       
          <div class="form-group col-12">
            <label for="tgTitulo">Trabajo de grado (titulo)</label>
            <input type="text" placeholder="Trabajo de investigación" class="form-control" id="tgTitulo" maxlength="100" [(ngModel)]="tgTitulo"
              name="tgTitulo">
          </div>

          <div class="form-group col-md-4">
            <label for="universidad">Universidad</label>
            <input type="text" placeholder="Universidad de Antioquia" class="form-control" id="universidad" maxlength="100" [(ngModel)]="universidad"
              name="universidad">
          </div>
    
          <div class="form-group col-md-4">
            <label for="facultad">Facultad</label>
            <input type="text" placeholder="Facultad de educación" class="form-control" id="facultad" maxlength="100" [(ngModel)]="facultad"
              name="facultad">
          </div>

          <div class="form-group col-md-4">
            <label for="departamento">Departamento</label>
            <input type="text" placeholder="Antioquia" class="form-control" id="departamento" maxlength="100" [(ngModel)]="departamento"
              name="departamento">
          </div>
        </div>
      </div>
    </div>

    <div class="form-row mt-3 justify-content-end">
      <button type="submit" class="btn btn-success mx-3">Agregar Referencia</button>
      <button class="btn btn-warning mx-3" type="reset" (click)="resetForm(validForm)">Limpiar <i class="fa fa-undo"></i></button>
    </div>
  </form>


  <div id="clipboard" class="border-top pt-2">
  
    <label for="title">Referencia Final:</label>
    <div class="input-group">
      <div *ngIf="userRegister" class="input-group-prepend"><button class="btn btn-outline-info" (click)="saveHistory()">Guardar
          en biblioteca</button></div>
      <input type="text" class="form-control" id="title" maxlength="100" #userinput readonly="readonly" [(ngModel)]="referenciaFinal" name="title">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="copyInputMessage(userinput)" value="click to copy">Copiar al porta
          papeles</button>
      </div>
    </div>
    <p class="text-monospace text-muted small">Ejemplo: {{ejemplo}}</p>
  </div>


</main>