<main class="card"  id="Reference">
  <h5 class="text-center">Revistas</h5>
  <h3 class="text-center">ICONTEC</h3>

  <form  id="formReference" (ngSubmit)="addReference()" #validForm="ngForm">
    <div class="form-row justify-content-around">
  
      <div class="col-md-3">
        <div *ngFor="let item of nombres; let in=index" class="border rounded mb-2 p-2">

            <div class="form-group">
              <label for="title">Nombre</label>
              <input type="text" placeholder="FLECHA" class="form-control" id="title" maxlength="100" [(ngModel)]="nombres[in].value"
                name="nameN{{in}}">
            </div>

            <div class="form-group">
              <label for="title">Apellido</label>
              <input type="text" placeholder="Ramón" class="form-control" id="title" maxlength="100" [(ngModel)]="apellidos[in].value"
                name="nameA{{in}}">
            </div>
            <button class="btn btn-outline-danger btn-sm d-block mx-auto" *ngIf="in != 0" (click)="quitAuthor(in)">Quitar</button>
          </div>
          <button class="btn btn-outline-primary btn-sm d-block mx-auto" type="button" (click)="addAuthor()">Agregar Autor</button>
      </div>

      <div class="col-md-7">
        <div class="form-row">

          <div class="form-group col-12">
            <label for="title">Titulo del Artículo</label>
            <input type="text" placeholder="Secretos de Windows" class="form-control" id="title" maxlength="100"
              [(ngModel)]="titulo" name="title">
          </div>
          <div class="form-group col-12">
            <label for="title">Nombre de la revista</label>
            <input type="text" placeholder="PC Word" class="form-control" id="title" maxlength="100" [(ngModel)]="nombreRevista"
              name="title">
          </div>
          <div class="form-group col-md-4">
            <label for="title">Volumen</label>
            <input type="number" placeholder="2" class="form-control" id="title" maxlength="100" [(ngModel)]="volumen"
              name="title">
          </div>

          <div class="form-group col-md-4">
            <label for="title">Número de Revista</label>
            <input type="number" placeholder="31" class="form-control" id="title" maxlength="100" [(ngModel)]="numeroRevista"
              name="title">
          </div>
          <div class="form-group col-md-4">
            <label for="title">Año</label>
            <select [(ngModel)]="anioRevista" name="anioRevista" class="form-control">
              <option value="" disabled selected>Año</option>
              <option *ngFor="let anio of anio" value="{{anio}}">{{anio}}</option>
            </select>
          </div>



          <div class="form-group col-md-3">
            <label for="title">Mes</label>
            <select [(ngModel)]="mesRevista" name="mes1" class="form-control">
              <option value="" disabled selected>Mes</option>
              <option value="Ene">Enero</option>
              <option value="Feb">Febrero</option>
              <option value="Mar">Marzo</option>
              <option value="Abr">Abril</option>
              <option value="May">Mayo</option>
              <option value="Jun">Junio</option>
              <option value="Jul">Julio</option>
              <option value="Ago">Agosto</option>
              <option value="Sep">Septiembre</option>
              <option value="Oct">Octubre</option>
              <option value="Nov">Noviembre</option>
              <option value="Dic">Diciembre</option>
            </select>
          </div>
          
          <div class="form-group col-md-3">
            <label for="title">Mes 2 (Opcional)</label>
            <select [(ngModel)]="mes2Revista" name="mes2" class="form-control">
              <option value="" disabled selected>Mes2</option>
              <option value="Ene">Enero</option>
              <option value="Feb">Febrero</option>
              <option value="Mar">Marzo</option>
              <option value="Abr">Abril</option>
              <option value="May">Mayo</option>
              <option value="Jun">Junio</option>
              <option value="Jul">Julio</option>
              <option value="Ago">Agosto</option>
              <option value="Sep">Septiembre</option>
              <option value="Oct">Octubre</option>
              <option value="Nov">Noviembre</option>
              <option value="Dic">Diciembre</option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label for="title">Pagina Inicial</label>
            <input type="number" placeholder="Ej 10" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaInicial"
              name="paginaInicial">
          </div>

          <div class="form-group col-md-3">
            <label for="title">Pagina final</label>
            <input type="number" placeholder="Ej 15" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaFinal"
              name="paginaFinal">
          </div>

        </div>
      </div>

    </div>
    <div class="form-row w-100 mt-3 justify-content-end">
      <button type="submit" class="btn btn-success mx-3">Agregar Referencia</button>
      <button class="btn btn-warning mx-3" type="reset" (click)="resetForm(validForm)">Limpiar <i class="fa fa-undo"></i></button>
    </div>
  </form>

  <div id="clipboard" class="border-top pt-2">
  
    <label for="title">Referencia Final:</label>
    <div class="input-group">
      <div *ngIf="userRegister" class="input-group-prepend"><button class="btn btn-outline-info" (click)="saveHistory()">Guardar
          en biblioteca</button></div>
      <input type="text" class="form-control" id="title" maxlength="100" #userinput readonly="readonly" [(ngModel)]="referenciaFinal" name="title">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="copyInputMessage(userinput)" value="click to copy">Copiar al porta
          papeles</button>
      </div>
    </div>
    <p class="text-monospace text-muted small">Ejemplo: {{ejemplo}}</p>
  </div>


</main>