//@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$turquesa: rgb(50, 173,195);
$amarillo: rgb(255, 204, 0);

#sideBar{
    max-width: 20rem;
    min-width: 3.5rem;
    width: 100%;
    height: 100vh;
    .nav-link {
        color: $amarillo;
        font-weight: 700;
    }
    background-color: $turquesa;
    .dropdown-item{
        white-space: normal;
        color: #fff;
        padding-left: 0;
        &.active{
            padding-left: 1.5rem;
            border-left: 3px solid $amarillo;
            background-color: transparent !important;
        }
        &:hover{
            text-decoration: underline !important;
            background-color: transparent;
        }
    }
}
app-root > *:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center !important;
    & > *:nth-child(3){       
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        margin: 3rem 1rem;
        max-height: calc(100vh - 6rem);
        overflow-y: hidden; 
        .card{
            padding: 2rem;
            width: 100%;
            height: 100%;
            position: relative;
            form{
                overflow-y: auto;
                overflow-x: hidden;
                margin-bottom: 140px;
            }
            #clipboard{
                position: absolute;
                bottom: 0;
                left: 2rem;
                width: calc(100% - 4rem);
            }
        }
    }
}
app-home {
    //background-image: linear-gradient(to bottom, #32adc3 70%, #104C83 110%);
    min-height: 100vh;
    main{
        min-height: calc(100vh - 140px);
    }
    .ref{
        min-height: 160px;
    }
    #footer{
        background-color: #104C83;
    }
}