//@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$turquesa: rgb(50, 173,195);
$amarillo: rgb(255, 204, 0);


.btn-success {
    background-color: $turquesa !important;
    border-color: $turquesa !important;
    &:hover{
        background-color: rgb(22, 177, 204) !important;
        border-color: rgb(22, 177, 204) !important;
    }
}

#sideBar{
    max-width: 20rem;
    min-width: 3.5rem;
    height: 100vh;
    overflow-y: auto;
    background-color: $turquesa;

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .nav-link {
        color: $amarillo;
        font-weight: 700;
        transition: all 0.5s ease;
        &.active{
            padding-left: 1.5rem;
            border-left: 3px solid #fff;
            background-color: transparent !important;
            color: #fff;
        }
        &:hover {
            cursor: pointer;
            padding-left: 0.8rem;
        }
    }
    .dropdown-item{
        white-space: normal;
        color: #fff;
        padding-left: 0;
        &.active{
            padding-left: 1.5rem;
            border-left: 3px solid $amarillo;
            background-color: transparent !important;
            color: $amarillo;
            font-weight: 600;
        }
        &:hover{
            text-decoration: underline !important;
            background-color: transparent;
        }
    }

}
app-root > *:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center !important;
    & > *:nth-child(3){       
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        margin: 2rem 1rem;
        max-height: calc(100vh - 4rem);
        overflow-y: hidden; 
        main.card{
            padding: 2rem 2rem 0;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            
            form{
                overflow-y: auto;
                overflow-x: hidden;
                // max-height: calc(100% - 230px);
            }
            #clipboard{
                position: absolute;
                bottom: 0;
                left: 2rem;
                width: calc(100% - 4rem);
            }
        }
    }
}
main {
    > h3 {
        color: #6d8a91;
    }
    > h5 {
        color: $turquesa;
    }
}
app-home {
    min-height: 100vh;
    background-color:  $turquesa;
    #content{
        min-height: 100vh;
    }
    #sesionButtons {
        top: -1px;
        right: 0;
        z-index: 1;
    }
    #header {
        text-align: center;
        > * {
            animation: myopacity 0.5s cubic-bezier( 0.36, 0.30, 0.63, 0.53);
                animation-fill-mode: forwards;
                @keyframes myopacity {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            position: relative;
            margin-top: 3.5rem;
            
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: calc(-3.5rem - 1px);
                left: calc(50% - 1px);
                width: 1px;
                height: calc(3.5rem + 1px);
                background: #ffffff;
            }
        }
        > :first-child {
			margin-top: 0;

			&:before {
				display: none;
			}
		}
        .logo{
            width: 8.5rem;
            height: 8.5rem;
            line-height: 8.5rem;
            border: solid 1px #feffff;
            border-radius: 100%;
            background-image: url("../assets/images/fup.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 80%;
            margin: 0 auto;
        }
        .content{
            border-style: solid;
            border-color: #ffffff;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-left: 0;
            border-right: 0;
            max-width: 100%;

            .inner{
                padding: 0;
                height: 0;
                max-height: 40rem;
                overflow: hidden;
                animation: myheight 0.5s cubic-bezier( 0.36, 0.30, 0.63, 0.53);
                animation-delay: 0.5s;
                animation-fill-mode: forwards;

                @keyframes myheight {
                    0% {
                        height: 0;
                        padding: 0;
                    }
                    100% {
                        height: 100%;
                        padding: 3rem 2rem;
                    }
                }
                > :last-child {
					margin-bottom: 0;
				}
                h1,p{
                    color: #fff;
                }
                p {
                    text-transform: uppercase;
                    letter-spacing: _font(letter-spacing);
                    font-size: 0.8rem;
                    line-height: 2;
                }
            }
        }
        nav {
			ul {
                margin-bottom: 0;
                list-style: none;
                padding-left: 0;
                border: solid 1px #ffffff;
                border-radius: 4px;

				li {
					padding-left: 0;
                    border-left: solid 1px #ffffff;
                    min-width: 10rem;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: -moz-available;
                    white-space: nowrap;

					&:first-child {
						border-left: 0;
					}

					a {
						display: block;
                        min-width: 7.5rem;
                        height: 2.75rem;
                        line-height: 2.75rem;
                        padding: 0 1.25rem 0 1.45rem;
                        text-transform: uppercase;
                        letter-spacing: 0.2rem;
                        font-size: 0.8rem;
                        border-bottom: 0;
                        color: #fff;

						&:hover {
                            background-color: $amarillo;
                            cursor: pointer;
                            color: $turquesa;
						}
					}
				}
            }
        }
    }
    #footer{
        transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
        width: 100%;
        max-width: 100%;
        margin-top: 2rem;
        text-align: center;

        .copyright{
            letter-spacing: 0.2rem;
            font-size: 0.6rem;
            opacity: 0.75;
            margin-bottom: 0;
            text-transform: uppercase;
            color: #fff !important;
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

}
app-login, app-registro, app-restore-pass, app-image-profile {
    background-image: radial-gradient(#32adc3, #104C83);
    max-height: 100vh;
    main {
        height: 100vh;
        .btn { white-space: normal; }
    }
}

app-ranking {
    main.card{
        max-height: calc(100vh - 4rem);
        padding-bottom: 2rem;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
    .wrapper {
        .card-header {
            text-align: center;
        }
        .card-body {
            min-height: 10rem;
            margin-bottom: 0;
        }
        .card {
            transition: all 0.5s ease;
            &:hover {
                border-color: $turquesa;
                .trophy { border-color: $turquesa; }
            }
        }
    }
    .trophy {
        display: block;
        width: 3rem;
        height: 3rem;
        background-image: url(../assets/images/trophy.svg);
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: center center;
        border: 2px solid #dfdfdf;
        border-radius: 100%;
        position: absolute;
        top: -1.5rem;
        left: calc(50% - 1.5rem);
        background-color: #fff;
    }
    .people {
        .card-body {
            padding: 0;
            overflow-y: auto;
            max-height: 16.75rem;

            li:last-child {
                border-bottom: none !important;
                text-align: center;
                padding-bottom: 0;
                .info {
                    margin: 0 auto;
                }
                span {
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: .6rem;
                    color: #707070;
                }
            }
            li {
                display: flex !important;
                flex-direction: row !important;
                padding: .75rem 0;
                border-bottom: 1px solid #e4e4e4;
                
                .profile-img {
                    width: 2.5rem;
                    margin-right: 0.8rem;
                    border-radius: 100%;
                    align-self: center;
                }
    
                .info {
                    color: #468894;
                    display: inline-grid;
                    span {
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: .6rem;
                        color: #707070;
                    }
                }
            }
        }
    }
    .programs {
        li {
            flex-grow: 1;
            flex-basis: 50%;
            &:first-child {
                flex-basis: 100%;
            }
            span {
                display: inline-block;
                width: 5.1rem;
                height: 5.1rem;
                border-color: #ba87e4 !important;
                p {
                line-height: 85%;
                margin-bottom: 0;
                color: #6d8a91;
                    &:first-child {
                        color: rgba(0, 185, 255, 0.6);
                    }
                }
                & + p {
                    color: #6d8a91;
                }
            }
            &:last-child {
                align-self: flex-end;
            }
        }
    }
    .average {
        li {
            flex-grow: 1;
            margin: 0 0.5rem;
            flex-basis: 20%;
            margin-bottom: 0.8rem;
  
            span {
                display: block;
                background-color: #ecf5f7;
                transition: box-shadow 0.3s ease-in-out;
                &:hover {
                    box-shadow: 0px 4px 5px 2px rgba(205, 214, 216, 0.8);;
                }
                p {
                    color: #6d8a91;
                    font-weight: 400;
                    margin-bottom: 0;

                    &.h1{
                        color: #ba87e4;
                    }
                }
            }
        }
    }
    .reference {
        li {
            flex-grow: 1;
            margin: 0 0.5rem;
            flex-basis: 30%;

            span {
                display: block;
                transition: box-shadow 0.3s ease-in-out;
                &:hover {
                    box-shadow: 0px 4px 5px 2px rgba(205, 214, 216, 0.8);;
                }
                p {
                    color: #6d8a91;
                    &:nth-child(n+2):nth-child(-n+3){
                        line-height: 0.85em;
                        color: #dcad20;
                    }
                }
            }
        }
    }
}
app-update-info, app-historial {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center !important;
    main {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        margin: 2rem 1rem;
        max-height: calc(100vh - 4rem);
        overflow-y: hidden;
         .wrapper{
            padding: 2rem;
            overflow-y: auto !important;
            overflow-x: hidden !important;
        }
    }
}

app-historial {
    #historialList {
        max-height: 100%;
        overflow-y: auto;
        height: 100%;
        margin-bottom: 60px !important;
    }
    #pagination {
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        text-align: center;
    }
}

@media only screen and (max-width:"768px") {
    app-home {
        ul {
            li {
                border-left:  0 !important;
                border-bottom: 1px solid #fff;
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}