<br>
<br><br>
<main class="container">
  <div class="card text-center">
    <form class="login100-form validate-form" (submit)="onSubmitRegister()" #loginForm="ngForm">
      <span class="login100-form-title">
        Registro
      </span>
      <div class="wrap-input100 validate-input" data-validate="Password is required">
        <label for="title">Rol en la Universidad</label><br>
        <select [(ngModel)]="rol" name="mes1" (ngModelChange)="onChangeSl($event)" class="input100">
          <option value="" disabled selected>Rol</option>
          <option value="estudiante">Estudiante</option>
          <option value="docente">Docente</option>
          <option value="administrativo">Administrativo</option>
          <option value="egresado">Egresado</option>
        </select>
      </div>

      <div *ngIf="esEstudiante || esEgresado || esDocente" class="wrap-input100 validate-input">
        <label for="title">Programa</label><br>
        <select [(ngModel)]="programa" name="programa" class="input100">
          <option value="" disabled selected>Selecciones una opción</option>
          <option value="Administración de Empresas">Administración de Empresas</option>
          <option value="Administración de Empresas Agropecuarias">Administración de Empresas Agropecuarias</option>
          <option value="Arquitectura">Arquitectura</option>
          <option value="Contaduría Pública">Contaduría Pública</option>
          <option value="Ecología">Ecología</option>
          <option value="Economía">Economía</option>
          <option value="Ingeniería Industrial">Ingeniería Industrial</option>
          <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
          <option value="Licenciatura en educación Artística y Cultural">Licenciatura en educación Artística y Cultural</option>
          <option value="Psicología">Psicología</option>
          <option value="Trabajo Social">Trabajo Social</option>
          <option value="Posgrados">Posgrados</option>
          <option value="Escuela de formación para el trabajo y el desarrollo Humano">Escuela de formación para el
            trabajo y el desarrollo Humano</option>
          <option value="Pregrado a distancia">Pregrado a distancia</option>
          <option value="Virtual - Administración de empresas">Virtual - Administración de empresas</option>
          <option value="Virtual - Administración de empresas Agropecuarias">Virtual - Administración de empresas
            Agropecuarias</option>
          <option value="Virtual - Comunicación Social">Virtual - Comunicación Social</option>
        </select>
      </div>

      <div *ngIf="esEstudiante" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <label for="title">Semestre</label><br>
          <select [(ngModel)]="semestre" name="semestre" class="input100">
              <option value="" disabled selected>Seleccione el semestre</option>
              <option value="1">I</option>
              <option value="2">II</option>
              <option value="3">III</option>
              <option value="4">VI</option>
              <option value="5">V</option>
              <option value="6">VI</option>
              <option value="7">VII</option>
              <option value="8">VIII</option>
              <option value="9">IX</option>
              <option value="10">X</option>
            </select>
        </div>

      <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <label for="title">Nombre Completo</label><br>
        <input class="input100" required type="text" name="fullName" id="fullName" [(ngModel)]="fullName" placeholder="Nombre Completo">
      </div>

      <div class="wrap-input100 validate-input">
        <label for="title">Edad</label><br>
        <input class="input100" required type="text" name="edad" id="edad" [(ngModel)]="edad" placeholder="Edad">
      </div>

      <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <label for="title">Correo Electrónico</label><br>
        <input class="input100" required email type="email" name="email" id="email" [(ngModel)]="email" placeholder="Correo">
      </div>



      <div class="wrap-input100 validate-input" data-validate="Password is required">
        <label>Contraseña</label><br>
        <input class="input100" type="password" name="password" id="password" [(ngModel)]="password" required minlength="8"
          #passwordUsr="ngModel" placeholder="Contraseña">
      </div>
      <div [hidden]="passwordUsr.valid || passwordUsr.pristine" class="alert alert-danger">
        Mínimo 8 caracteres
      </div>

      <div class="wrap-input100 validate-input" data-validate="Password is required">
        <label for="title">Verifica tu Contraseña</label><br>
        <input class="input100" type="password" name="password2" id="password2" [(ngModel)]="password2" placeholder="Contraseña">
      </div>


      <div class="container-login100-form-btn">
        <button [disabled]="!(flagFormulario && loginForm.form.valid)" class="login100-form-btn" type="submit">
          Ingresar
        </button>
        <button (click)="return()" class="login100-form-btn" type="button">
          Regresar
        </button>
      </div>
    </form>
  </div>
</main>