<app-nav-bar></app-nav-bar>
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 card p-5">
            <h1 class="m-3 text-center">Perfil de Usuario</h1>
            <div class="w-100">
                <figure class="text-center">
                    <img width="80" height="80" alt="Imagen de perfil" class="rounded-circle shadow" [src]="srcImage">
                </figure>
            </div>
            <div class="row justify-content-center mb-5">
                <div class="col-md-8 text-center mt-3">
                    <span> Seleccionar Imagen:
                        <input type="file" accept="image/*" (change)="fileChangeListener($event)">
                    </span>
                </div>
            </div>

            <form (ngSubmit)="editProfile()" #orgForm="ngForm">
                <div class="form-group">
                    <label for="nameOrg">Nombre</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="usuario.nombre" required name="name"
                        #nameOrg="ngModel">
                </div>
                <div class="form-group">
                    <label for="alterEgo">Correo Electrónico</label>
                    <input class="form-control" [(ngModel)]="usuario.correo" id="correo" name="correo" input>
                </div>
                <div class="form-group">
                    <label for="alterEgo">Programa</label>
                    <input class="form-control" [(ngModel)]="usuario.programa" id="usuario.programa" name="programa" input>
                </div>

                <div class="form-group">
                    <label for="alterEgo">Edad</label>
                    <input class="form-control" [(ngModel)]="usuario.edad" id="edad" name="edad" input>
                </div>
                <div class="form-group">
                    <label for="alterEgo">Semestre</label>
                    <input class="form-control" [(ngModel)]="usuario.semestre" id="semestre" name="semestre" input>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6"><button class="btn btn-warning btn-block" (click)="returnOrganization()">Regresar</button></div>
                    <div class="col-md-6"><button class="btn btn-primary btn-block" type="submit" [disabled]="!orgForm.form.valid">Guardar
                            Cambios</button></div>
                </div>
            </form>
        </div>

    </div>
</main>