<main class="card" id="Reference">
  <h3 class="text-center">IEEE</h3>
  <h5 class="text-center">Capitulo Libro</h5>

<form id="formReference" (ngSubmit)="addReference()" #validForm="ngForm">
  <div class="form-row justify-content-around">

    <div class="col-md-3">
      <div *ngFor="let item of nombres; let in=index" class="border rounded mb-2 p-2">

            <div class="form-group">
              <label for="title">Iniciales Nombres Autor</label>
              <input type="text" placeholder="N. G. " class="form-control" id="title" maxlength="100" [(ngModel)]="nombres[in].value"
                name="nameN{{in}}">
            </div>

            <div class="form-group">
              <label for="title">Apellidos Autor</label>
              <input type="text" placeholder="Mankiw" class="form-control" id="title" maxlength="100" [(ngModel)]="apellidos[in].value"
                name="nameA{{in}}">
            </div>

            <button class="btn btn-outline-danger btn-sm d-block mx-auto" *ngIf="in != 0" (click)="quitAuthor(in)">Quitar</button>
      </div>
    <button class="btn btn-outline-primary btn-sm d-block mx-auto" type="button" (click)="addAuthor()">Agregar Autor</button>
    </div>
    
    <div class="col-md-7">
      <div class="form-row">

          <div class="form-group col-12">
            <label for="tituloCapitulo">Titulo del Capítulo</label>
            <input type="text" placeholder="Biotransformation in ionic liquid" class="form-control" id="tituloCapitulo"
              maxlength="100" [(ngModel)]="tituloCapitulo" name="tituloCapitulo">
          </div>

          <div class="form-group col-12">
            <label for="tituloLibro">Titulo del Libro</label>
            <input type="text" placeholder="Future directions in biocatalysis" class="form-control" id="tituloLibro"
              maxlength="100" [(ngModel)]="tituloLibro" name="tituloLibro">
          </div>

          <div class="form-group col-lg-4">
            <label for="edicion">Edición</label>
            <input type="text" placeholder="Ed 3tr" class="form-control" id="edicion" maxlength="100"
              [(ngModel)]="edicion" name="edicion">
          </div>

          <div class="form-group col-lg-4">
            <label for="ciudad">Lugar de Publicación</label>
            <input type="text" placeholder="Amsterdam" class="form-control" id="ciudad" maxlength="100" [(ngModel)]="ciudad"
              name="ciudad">
          </div>

          <div class="form-group col-lg-4">
              <label for="editorial">Editorial</label>
              <input type="text" placeholder="Elsevier Science" class="form-control" id="editorial" maxlength="100" [(ngModel)]="editorial"
                name="editorial">
            </div>

          <div class="form-group col-lg-4">
            <label for="anioPublicacion">Año de publicación</label>
            <select [(ngModel)]="anioPublicacion" name="anioPublicacion" class="form-control">
              <option value="" disabled selected>Año Publicación</option>
              <option *ngFor="let anio of anio" value="{{anio}}">{{anio}}</option>
            </select>
          </div>

          <div class="form-group col-lg-4">
            <label for="title">Pagina Inicial</label>
            <input type="number" placeholder="Ej: 167" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaInicial"
              name="paginaInicial">
          </div>

          <div class="form-group col-lg-4">
            <label for="title">Pagina final</label>
            <input type="number" placeholder="Ej: 189" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaFinal"
              name="paginaFinal">
          </div>
      </div>
    </div>
  </div>

  <div class="form-row w-100 mt-3 justify-content-end">
    <button type="submit" class="btn btn-success mx-3">Agregar Referencia</button>
    <button class="btn btn-warning mx-3" type="reset" (click)="resetForm(validForm)">Limpiar <i class="fa fa-undo"></i></button>
  </div>
</form>


  <div id="clipboard" class="border-top pt-2">
  
    <label for="title">Referencia Final:</label>
    <div class="input-group">
      <div *ngIf="userRegister" class="input-group-prepend"><button class="btn btn-outline-info" (click)="saveHistory()">Guardar
          en biblioteca</button></div>
      <input type="text" class="form-control" id="title" maxlength="100" #userinput disabled [(ngModel)]="referenciaFinal" name="title">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="copyInputMessage(userinput)" value="click to copy">Copiar al porta
          papeles</button>
      </div>
    </div>
    <p class="text-monospace text-muted small">Ejemplo: {{ejemplo}}</p>
  </div>

</main>