<main class="card" id="Reference">
  <h3 class="text-center">IEEE</h3>
  <h5 class="text-center">Articulo de Revista</h5>

<form id="formReference" (ngSubmit)="addReference()" #validForm="ngForm">
  <div class="form-row justify-content-around">

      <div class="col-md-3">
        <div *ngFor="let item of nombres; let in=index" class="border rounded mb-2 p-2">

              <div class="form-group">
                <label for="title">Iniciales Nombres Autor</label>
                <input type="text" placeholder="G. F. " class="form-control" id="title" maxlength="100" [(ngModel)]="nombres[in].value"
                  name="nameN{{in}}">
              </div>

              <div class="form-group">
                <label for="title">Apellidos Autor</label>
                <input type="text" placeholder="Apellidos Autor" class="form-control" id="title" maxlength="100" [(ngModel)]="apellidos[in].value"
                  name="nameA{{in}}">
              </div>

              <button class="btn btn-outline-danger btn-sm d-block mx-auto" *ngIf="in != 0" (click)="quitAuthor(in)">Quitar</button>
        </div>
        <button class="btn btn-outline-primary btn-sm d-block mx-auto" type="button" (click)="addAuthor()">Agregar Autor</button>
      </div>
              
      <div class="col-md-7">
        <div class="form-row">

            <div class="form-group col-12">
              <label for="titulo">Titulo del Artículo</label>
              <input type="text" placeholder="Source phone identification using sketches of features" class="form-control"
                id="titulo" maxlength="100" [(ngModel)]="titulo" name="titulo">
            </div>

            <div class="form-group col-12">
              <label for="tituloRevista">Titulo de la Revista</label>
              <input type="text" placeholder="IET Biometrics" class="form-control" id="tituloRevista" maxlength="100"
                [(ngModel)]="tituloRevista" name="tituloRevista">
            </div>

            <div class="form-group col-lg-6">
              <label for="volumen">Volumen de la Revista</label>
              <input type="number" placeholder="vol. 3" class="form-control" id="volumen" maxlength="100" [(ngModel)]="volumen"
                name="volumen">
            </div>

            <div class="form-group col-lg-6">
              <label for="numero">Numero de la Revista</label>
              <input type="number" placeholder="n.º 2" class="form-control" id="numero" maxlength="100" [(ngModel)]="numero"
                name="numero">
            </div>

            <div class="form-group col-lg-6">
              <label for="title">Pagina Inicial</label>
              <input type="number" placeholder="Ej: 167" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaInicial"
                name="paginaInicial">
            </div>

            <div class="form-group col-lg-6">
              <label for="title">Pagina final</label>
              <input type="number" placeholder="Ej: 189" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaFinal"
                name="paginaFinal">
            </div>

            <div class="form-group col-12">
              <label for="title">Fecha de la publicación</label>
              <div class="form-row">
                <div class="col-lg-6">
                  <select [(ngModel)]="fechaCitaMes" name="fechaCitaMes" class="form-control">
                    <option value="" disabled selected>Mes</option>
                    <option *ngFor="let mes of mes, let i = index" value="{{mes}}">{{mes}}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <select [(ngModel)]="fechaCitaAnio" name="fechaCitaAnio" class="form-control">
                    <option value="" disabled selected>Año</option>
                    <option *ngFor="let anio of anio" value="{{anio}}">{{anio}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group col-12">
              <label for="url">URL del Recurso</label>
              <input type="text" placeholder="http://dx.doi.org/10.1049/iet-bmt.2013.0056" class="form-control" id="url"
                maxlength="100" [(ngModel)]="url" name="url">
            </div>

            <div class="form-group col-12">
              <label for="title">Fecha de Acceso</label>
              <div class="form-row">
                <div class="col-lg-6">
                  <select [(ngModel)]="fechaAccesoMes" name="fechaAccesoMes" class="form-control">
                    <option value="" disabled selected>Mes</option>
                    <option *ngFor="let mes of mes, let i = index" value="{{mes}}">{{mes}}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <select [(ngModel)]="fechaAcessoAnio" name="fechaAcessoAnio" class="form-control">
                    <option value="" disabled selected>Año</option>
                    <option *ngFor="let anio of anio" value="{{anio}}">{{anio}}</option>
                  </select>
                </div>
              </div>

            </div>

        </div>
      </div>
    </div>
    <div class="form-row w-100 mt-3 justify-content-end">
      <button type="submit" class="btn btn-success mx-3">Agregar Referencia</button>
      <button class="btn btn-warning mx-3" type="reset" (click)="resetForm(validForm)">Limpiar <i class="fa fa-undo"></i></button>
    </div>
  </form>


  <div id="clipboard" class="border-top pt-2">
  
    <label for="title">Referencia Final:</label>
    <div class="input-group">
      <div *ngIf="userRegister" class="input-group-prepend"><button class="btn btn-outline-info" (click)="saveHistory()">Guardar
          en biblioteca</button></div>
      <input type="text" class="form-control" id="title" maxlength="100" #userinput disabled [(ngModel)]="referenciaFinal" name="title">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="copyInputMessage(userinput)" value="click to copy">Copiar al porta
          papeles</button>
      </div>
    </div>
    <p class="text-monospace text-muted small">Ejemplo: {{ejemplo}}</p>
  </div>

</main>