<app-nav-bar></app-nav-bar>
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 card p-5">
            <h1 class="m-3 text-center">Perfil de Usuario</h1>
            <h3 class="m-3 text-center">{{rolUsuario}}</h3>
            <div class=" form-group text-center">
                <img class="profile-img" alt=""
                [src]=" data ? data :  'https://firebasestorage.googleapis.com/v0/b/referencias-fup.appspot.com/o/unknown.png?alt=media&token=dc0e2e6e-05a5-47c6-bd65-026c81d69186'"  >
                <button class="btn btn-color btn-md" (click)="changeImageProfile()">
                  <i class=""></i> Cambiar Imagen de Perfil
                </button>
              </div>

            <form (ngSubmit)="editProfile()" #orgForm="ngForm">
                <div class="form-group">
                    <label for="nameOrg">Nombre</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="UsuarioPerfil.nombre" required name="name"
                        #nameOrg="ngModel">
                </div>
                <div class="form-group">
                    <label for="alterEgo">Correo Electrónico</label>
                    <input class="form-control" [(ngModel)]="UsuarioPerfil.correo" id="correo" name="correo" input>
                </div>
                <div *ngIf="rolUsuario != 'administrativo'" class="form-group">
                    <label for="alterEgo">Programa</label>
                    <input class="form-control" [(ngModel)]="UsuarioPerfil.programa" id="usuario.programa" name="programa" input>
                </div>

                <div class="form-group">
                    <label for="alterEgo">Edad</label>
                    <input class="form-control" [(ngModel)]="UsuarioPerfil.edad" id="edad" name="edad" input>
                </div>
                <div *ngIf="rolUsuario == 'estudiante'" class="form-group">
                    <label for="alterEgo">Semestre</label>
                    <input class="form-control" [(ngModel)]="UsuarioPerfil.semestre" id="semestre" name="semestre" input>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6"><button class="btn btn-warning btn-block" (click)="returnOrganization()">Regresar</button></div>
                    <div class="col-md-6"><button class="btn btn-primary btn-block" type="submit" [disabled]="!orgForm.form.valid">Guardar
                            Cambios</button></div>
                </div>
            </form>
        </div>

    </div>
</main>