<main *ngIf="flag == true" class="container">

  <div class="row justify-content-end">
    <button *ngIf="flagLogged" (click)="logout()" class="btn btn-sm btn-link text-white">Salir</button>
    <button *ngIf="flagLogged == false" (click)="goToLogin()" class="btn btn-sm btn-link text-white">Iniciar Sesión</button>
  </div>

    
  <div id="content" class="row justify-content-center">
        <div class="col-md-8 align-self-center">
          
            <!-- Header -->
            <header id="header">
              <div class="logo">
                <span></span>
              </div>
              <div class="content">
                <div class="inner">
                  <img src="../../../assets/images/logo.png" alt="">
                  <h1>Bienvenido</h1>
                  <p>En esta aplicación web podrás realizar de forma ágil y sencilla referencias<br />
                    bibliográficas según las Normas ICONTEC, APA, IEEE para tus trabajos académicos.</p>
                </div>
              </div>
              <nav>
                <ul>
                  <li><a routerLink="/icontec/libros">REFERENCIAS</a></li>
                  <li>
                    <a *ngIf="flagLogged" (click)="goToProfile()" class="text-uppercase">Perfil</a>
                    <a *ngIf="flagLogged == false" class="text-uppercase" (click)="goToLogin()">Iniciar Sesión</a>
                  </li>
                  <li><a routerLink="/ranking">RANKING</a></li>
                </ul>
              </nav>
            </header>
            
            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">&copy; Unidad Académica Virtual y a Distancia - <a href="http://unividafup.edu.co/Portal/">UNIVIDA</a>.</p>
            </footer>
      </div> 
  </div>
</main>

  

