<main class="container">
  <div class="card text-center">
    <div class="card-header">
      Bienvenido a UNIVIDA - FUP
      <button *ngIf="flagLogged" class="btn btn-sm float-right bg-graycontent">Perfil</button>
      <button *ngIf="flagLogged == false" class="btn btn-sm float-right bg-graycontent">Iniciar Sesión</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">REFERENCIAS</h5>
      <p class="card-text">Selecciona la referencia que quieres usar</p>
      <a routerLink="/icontec" class="btn btn-link mb-2 pl-0 body1">ICONTEC</a>
      <a href="#" class="btn btn-link mb-2 pl-0 body1">APA</a>
      <a href="#" class="btn btn-link mb-2 pl-0 body1">IEEE</a>
      <a href="#" class="btn btn-link mb-2 pl-0 body1">RANKING</a>
    </div>
    <div class="card-footer text-muted">
      FUP
    </div>
  </div>
</main>