<main *ngIf="flag == true" class="container">

  <div class="row justify-content-end mb-3">
    <button *ngIf="flagLogged" (click)="logout()" class="btn btn-sm float-right bg-graycontent">Salir</button>
    <button *ngIf="flagLogged" (click)="goToProfile()" class="btn btn-sm float-right bg-graycontent">Perfil</button>
    <button *ngIf="flagLogged" (click)="goToHistory()" class="btn btn-sm float-right bg-graycontent">Historial</button>
    <button *ngIf="flagLogged == false" (click)="goToLogin()" class="btn btn-sm float-right bg-graycontent">Iniciar Sesión</button>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3"><img class="img-fluid" src="../../../assets/images/logo-univida.png" alt="Univida, unidad académica virtual y a distancia"></div>
    <h1 class="w-100 text-center mt-5">Bienvenido a UNIVIDA - FUP</h1>
  </div>
    
  <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3 text-center">
              <div class="ref img-thumbnail"><img class="img-fluid" src="../../../assets/images/icontec.png" alt=""></div>
              <a routerLink="/icontec" class="text-primary">ICONTEC</a>
            </div>
            <div class="col-md-3 text-center">
              <div class="ref img-thumbnail"><img class="img-fluid" src="../../../assets/images/apa.png" alt=""></div>
              <a routerLink="/apa" class="text-primary">APA</a>
            </div>
            <div class="col-md-3 text-center">
              <div class="ref img-thumbnail"><img class="img-fluid" src="../../../assets/images/ieee.png" alt=""></div>
              <a routerLink="/ieee" class="text-primary">IEEE</a>
            </div>
            <div class="col-md-3 text-center">
              <div class="ref img-thumbnail"><img class="img-fluid" src="../../../assets/images/logo.png" alt=""></div>
              <a routerLink="/ranking" class="text-primary">RANKING</a>
            </div>
          </div>
          <div class="row justify-content-center">
            <p class="text-center d-block">Selecciona la referencia que quieres usar</p>
          </div>
        </div>
  </div>
</main>
<div id="footer" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-2">
      <img class="img-fluid" src="../../../assets/images/fup.png" alt="">
    </div>
  </div>
</div>