<main class="container card mt-5">
  <form class="row mt-4" (ngSubmit)="addReference()" #validForm="ngForm">
    <div class="col-12 mb-5">
      <h3 class="text-center">ICONTEC</h3>
      <h5 class="text-center">Referencia para un Congreso, Conferencia o Reunión</h5>
      <div class="row justify-content-center">
        <div class="col-md-4 pr-md-5 border-right">

          <div class="form-group">
            <label for="congreso">Nombre del Congreso</label>
            <input type="text" placeholder="CONGRESO INTERNACIONAL DEL BARROCO IBEROAMERICANO" class="form-control" id="congreso" maxlength="100" [(ngModel)]="congreso"
              name="congreso">
          </div>

          <div class="form-group">
              <label for="numero">Numero del congreso</label>
              <input type="number" placeholder="Numero del congreso en Arábigos" class="form-control" id="numero" maxlength="100" [(ngModel)]="numero"
                name="numero">
            </div>

          <div class="form-group">
              <label for="ciudad">Ciudad</label>
              <input type="text" placeholder="Sevilla" class="form-control" id="ciudad" maxlength="100" [(ngModel)]="ciudad"
                name="ciudad">
            </div>

          <div class="form-group">
            <label for="pais">Pais</label>
            <input type="text" placeholder="España" class="form-control" id="subtitulo" maxlength="100" [(ngModel)]="pais"
              name="pais">
          </div>

          <div class="form-group">
              <label for="title">Fecha del evento</label>

              <select [(ngModel)]="dia1" name="dia1" class="form-control">
                <option value="" disabled selected>Día inicio</option>
                <option *ngFor="let dia of dia" value="{{dia}}">{{dia}}</option>
              </select>

              <select [(ngModel)]="dia2" name="dia2" class="form-control">
                  <option value="" disabled selected>Día fin</option>
                  <option *ngFor="let dia of dia" value="{{dia}}">{{dia}}</option>
                </select>
  
              <select [(ngModel)]="fechaCitaMes" name="fechaCitaMes" class="form-control">
                <option value="" disabled selected>Mes</option>
                <option *ngFor="let mes of mes" value="{{mes}}">{{mes}}</option>
              </select>
  
              <select [(ngModel)]="fechaCitaAnio" name="fechaCitaAnio" class="form-control">
                <option value="" disabled selected>Año</option>
                <option *ngFor="let anio of anioCita" value="{{anio}}">{{anio}}</option>
              </select>
  
            </div>

          <div class="form-group">
            <label for="edicion">Titulo Publicación</label>
            <input type="text" placeholder="Memorias de la Prehistoria" class="form-control" id="titulo" maxlength="100" [(ngModel)]="titulo"
              name="titulo">
          </div>

        
          <div class="form-group">
            <label for="editorial">Editorial o Instituto</label>
            <input type="text" placeholder="Universidad Pablo de Olavide" class="form-control" id="editorial" maxlength="100" [(ngModel)]="editorial"
              name="editorial">
          </div>

          <div class="form-group">
            <label for="anioPublicacion">Año de publicación</label>
            <select [(ngModel)]="anioPublicacion" name="anioPublicacion" class="form-control">
              <option value="" disabled selected>Año Publicación</option>
              <option *ngFor="let anio of anio" value="{{anio}}">{{anio}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="title">Numero de paginas</label>
            <input type="text" placeholder="Numero Total" class="form-control" id="paginas" maxlength="100" [(ngModel)]="paginas"
              name="paginas">
          </div>

          <button type="submit" class="btn btn-lg btn-success mx-auto">Agregar Referencia</button>
          <button class="btn btn-outline-inf btn-space btn-lg" type="reset" (click)="resetForm(validForm)">
            <i class="fas fa-sync-alt"></i> Limpiar
          </button>

        </div>
      </div>
    </div>
  </form>


  <div class="form-group">
    <label for="title">Referencia Final</label>
    <input type="text" class="form-control" id="title" maxlength="100" #userinput [(ngModel)]="referenciaFinal" name="title">
    <button (click)="copyInputMessage(userinput)" value="click to copy">Copiar al porta papeles</button>
    <button *ngIf="userRegister">Guardar en historial</button>
    <p>Ejemplo: {{ejemplo}}</p>
  </div>


</main>