<main class="card">
  <div class="row mb-5">
      <div class="col">
        <app-graficas></app-graficas>
      </div>
  </div>

  <div class="row wrapper">

    <div class="col-md-6 mb-5">
      <div class="card people p-3">
        <span class="trophy"></span>
        <div class="card-header font-weight-bold text-info bg-white">
          Personas que más usan la aplicación
        </div>
        <ul class="card-body list-unstyled">
          <li><img class="profile-img" alt="" [src]="dataEstudiante">
            <div class="info"><span>Estudiante: </span>{{estudiante}} <br> <span>usos: </span>{{estudianteUsos}}<br><span>Programa:
              </span>{{correoEstudiante}}</div>
          </li>
          <li><img class="profile-img" alt="" [src]="dataAdministrativo">
            <div class="info"><span>Administrativo: </span>{{nombreAdministrativo}} <br> <span>usos: </span>{{contadorAdministrativo}}
            </div>
          </li>
          <li><img class="profile-img" alt="" [src]="dataEgresado">
            <div class="info"><span>Egresado: </span> {{egresado}} <br> <span>usos: </span>{{egresadoUsos}} <br> <span>Programa:
              </span> {{correoEgresado}}</div>
          </li>
          <li><img class="profile-img" alt="" [src]="dataDocente">
            <div class="info"><span>Docente: </span> {{docente}} <br> <span>usos: </span>{{docenteUsos}} <br> <span>Programa:
              </span> {{correoDocente}}</div>
          </li>
          <li><div class="info"><span>Usuarios no registrados: </span> {{usosNobody}} usos</div></li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div class="card programs p-3">
        <span class="trophy"></span>
        <div class="card-header font-weight-bold text-info bg-white">
          Programas que más usan la aplicación
        </div>
        <ul class="card-body list-unstyled d-inline-flex flex-row flex-wrap justify-content-around text-center pb-0">
          <li><span class="border rounded-circle p-3"><p class="h1">{{programa1cuenta}}</p><p>veces</p></span><p>{{programa1Nombre}}</p></li>
          <li><span class="border rounded-circle p-3"><p class="h1">{{programa2cuenta}}</p><p>veces</p></span><p>{{programa2Nombre}}</p></li>
          <li><span class="border rounded-circle p-3"><p class="h1">{{programa3cuenta}}</p><p>veces</p></span><p>{{programa3Nombre}}</p></li>
        </ul>
      </div>
    </div> 
      
    <div class="col-md-6 mb-3">
      <div class="card average p-3">
        <span class="trophy"></span>
        <div class="card-header font-weight-bold text-info bg-white">
          Promedio de Edad
        </div>
        <ul class="card-body list-unstyled d-inline-flex px-0 pb-0 flex-row flex-wrap justify-content-around text-center">
          <li><span class="rounded p-3"><p>General</p><p class="h1">{{promedioEdad}}</p></span></li>
          <li><span class="rounded p-3"><p>Estudiantes</p><p class="h1">{{averageEstuaidntes}}</p></span></li>
          <li><span class="rounded p-3"><p>Docentes</p><p class="h1">{{averageDocentes}}</p></span></li>
          <li><span class="rounded p-3"><p>Administrativos</p><p class="h1">{{averageAdminstrativos}}</p></span></li>
          <li><span class="rounded p-3"><p>Egresados</p><p class="h1">{{averageEgresados}}</p></span></li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card reference p-3">
        <span class="trophy"></span>
        <div class="card-header font-weight-bold text-info bg-white">
          Referencia más usada
        </div>
        <ul class="card-body list-unstyled d-inline-flex px-0 flex-row justify-content-around text-center">
          <li><span class="border rounded p-3"><p>Icontec</p><p class="h1 mb-0">{{contadorIcontecTop}}</p><p>usos</p><p>{{referenciaIcontecTop}}</p></span></li>
          <li><span class="border rounded p-3"><p>Apa</p><p class="h1 mb-0">{{contadorApaTop}}</p><p>usos</p><p>{{referenciaApaTop}}</p></span></li>
          <li><span class="border rounded p-3"><p>IEEE</p><p class="h1 mb-0">{{contadorIeeeTop}}</p><p>usos</p><p>{{referenciaIeeeTop}}</p></span></li>
        </ul>
      </div>
    </div>
  </div>
</main>