<main class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Promedio de Edad
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">General: {{promedioEdad}}</li>
      <li class="list-group-item">Estudiantes: {{averageEstuaidntes}}</li>
      <li class="list-group-item">Docentes: {{averageDocentes}}</li>
      <li class="list-group-item">Administrativos: {{averageAdminstrativos}}</li>
      <li class="list-group-item">Egresados: {{averageEgresados}}</li>
    </ul>
  </div>
</main>
