<nav *ngIf="flag == true" class="flex-column h-100 px-3 py-5">
  <a class="navbar-brand" routerLink="/"><img class="img-fluid" src="assets/images/logo.png" alt="Univida, unidad académica virtual y a distancia"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="mainMenuAccordion">
    <ul class="navbar-nav flex-column pl-0 pl-md-5">
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" id="icontecMenuLink" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          ICONTEC
        </a>
        <div id="collapseOne" class="collapse show" data-parent="#mainMenuAccordion" aria-labelledby="icontecMenuLink">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/icontec/libros">Libros</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/icontec/articulo-web">Artículo Web</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/icontec/tesis">Tesis</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/icontec/articulo-revista">Articulo de revista</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/icontec/congreso-reunion">Referencia para congreso, conferencia o reunión</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/icontec/normas-juridicas">Normas jurídicas</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/icontec/normas-tecnicas">Normas técnicas</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link dropdown-toggle" id="apaMenuLink" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          APA
        </a>
        <div id="collapseTwo" class="collapse" data-parent="#mainMenuAccordion" aria-labelledby="apaMenuLink">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/apa/libros">Libros</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/apa/revista">Revista</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/apa/tesis">Tesis</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/apa/articulo-web">Sitio Web</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/apa/congreso">Congresos</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/apa/periodico">Periodicos</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/apa/capitulo-libro">Capitulo Libro</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link dropdown-toggle" id="ieeeMenuLink" data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">
          IEEE
        </a>
        <div id="collapseThree" class="collapse" data-parent="#mainMenuAccordion" aria-labelledby="ieeeMenuLink">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/ieee/libro">Libro</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/ieee/articulo-web">Artículo Web</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/ieee/articulo-revista">Articulo de Revista</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/ieee/norma-tecnica">Norma Técnica</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/ieee/capitulo-libro">Capitulo de Libro</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/ieee/informe-tecnico">Informe técnico</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/ieee/patente">Patente</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/ranking">RANKING</a>
      </li>

      <li class="nav-item" *ngIf="logged == 'true'">
        <a class="nav-link" routerLink="/perfil">PERFIL</a>
      </li>

      <li class="nav-item" *ngIf="logged == 'true'">
        <a class="nav-link" routerLink="/historial">BIBLIOTECA</a>
      </li>

      
      <li class="nav-item" *ngIf="logged == 'true'">
        <a class="nav-link" (click)="logout()">SALIR</a>
      </li>

      <li class="nav-item" *ngIf="logged != 'true'">
        <a class="nav-link" routerLink="/login">INICIAR SESIÓN</a>
      </li>

    </ul>
  </div>
</nav>