<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FUP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          ICONTEC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/icontec/libros">Libros</a>
          <a class="dropdown-item" routerLink="/icontec">Artículo Web</a>
          <a class="dropdown-item" routerLink="/icontec/tesis">Tesis</a>
          <a class="dropdown-item" routerLink="/icontec/articulo-revista">Articulo de revista</a>
          <a class="dropdown-item" routerLink="/icontec/congreso-reunion">Referencia para congreo, conferencia o
            reunión</a>
          <a class="dropdown-item" routerLink="/icontec/normas-juridicas">Normas jurídicas</a>
          <a class="dropdown-item" routerLink="/icontec/normas-tecnicas">Normas técnicas</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          APA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/apa/libros">Libros</a>
          <a class="dropdown-item" routerLink="/apa/revista">Revista</a>
          <a class="dropdown-item" routerLink="/apa/tesis">Tesis</a>
          <a class="dropdown-item" routerLink="/apa">Sitio Web</a>
          <a class="dropdown-item" routerLink="/apa/congreso">Congresos</a>
          <a class="dropdown-item" routerLink="/apa/periodico">Periodicos</a>
          <a class="dropdown-item" routerLink="/apa/capitulo-libro">Capitulo Libro</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          IEEE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/ieee/libro">Libro</a>
          <a class="dropdown-item" routerLink="/ieee">Artículo Web</a>
          <a class="dropdown-item" routerLink="/ieee/articulo-revista">Articulo de Revista</a>
          <a class="dropdown-item" routerLink="/ieee/informe-tecnico">Informe Técnico</a>
          <a class="dropdown-item" routerLink="/ieee/capitulo-libro">Capitulo de Libro</a>
          <a class="dropdown-item" routerLink="/ieee/informe-tecnico">Informe técnico</a>
          <a class="dropdown-item" routerLink="/ieee/patente">Patente</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/ranking">RANKING</a>
      </li>

    </ul>
  </div>
</nav>