<main class="card"  id="Reference">
  <h3 class="text-center">APA</h3>
  <h5 class="text-center">Tesis</h5>

  <form  id="formReference" (ngSubmit)="addReference()" #validForm="ngForm">
    <div class="form-row justify-content-around">
  
      <div class="col-md-3">
        <div *ngFor="let item of nombres; let in=index" class="border rounded mb-2 p-2">
  
              <div class="form-group">
                <label for="title">Apellido Autor</label>
                <input type="text" placeholder="Aponte" class="form-control" id="title" maxlength="100" [(ngModel)]="apellidos[in].value"
                  name="nameA{{in}}">
              </div>
  
              <div class="form-group">
                <label for="title">Iniciales Nombre Autor</label>
                <input type="text" placeholder="L." class="form-control" id="title" maxlength="100" [(ngModel)]="nombres[in].value"
                  name="nameN{{in}}">
              </div>
  
            <button class="btn btn-outline-danger btn-sm d-block mx-auto" *ngIf="in != 0" (click)="quitAuthor(in)">Quitar</button>
        </div>
        <button class="btn btn-outline-primary btn-sm d-block mx-auto" (click)="addAuthor()">Agregar Autor</button>
      </div>
  
      <div class="col-md-8">
        <div class="form-row">

            <div class="form-group col-md-6">
              <label for="anioPublicacion">Año de publicación</label>
              <select [(ngModel)]="anioPublicacion" name="anioPublicacion" class="form-control">
                <option value="" disabled selected>Año Publicación</option>
                <option *ngFor="let anio of anio" value="{{anio}}">{{anio}}</option>
              </select>
            </div>
  
            <div class="form-group col-12">
              <label for="titulo">Titulo</label>
              <input type="text" placeholder="Educación ambiental y evaluación de la densidad " class="form-control" id="titulo" maxlength="100" [(ngModel)]="titulo"
                name="titulo">
            </div>
  
  
            <div class="form-group col-12">
              <label for="tipoTesis">Tipo de Tesis</label>
              <input type="text" placeholder="Tesis de pregrado, maestria o doctoral" class="form-control" id="tipoTesis"
                maxlength="100" [(ngModel)]="tipoTesis" name="tipoTesis">
            </div>
  
            <div class="form-group col-md-4">
              <label for="institucion">Institución</label>
              <input type="text" placeholder="Universidad de Caldas" class="form-control" id="institucion" maxlength="100"
                [(ngModel)]="institucion" name="institucion">
            </div>
  
            <div class="form-group col-md-4">
              <label for="pais">Pais Publicacion</label>
              <input type="text" placeholder="Colombia" class="form-control" id="pais" maxlength="100" [(ngModel)]="pais"
                name="pais">
            </div>
  
            <div class="form-group col-md-4">
              <label for="ciudad">Ciudad de Publicación</label>
              <input type="text" placeholder="Manizales" class="form-control" id="ciudad" maxlength="100" [(ngModel)]="ciudad"
                name="ciudad">
            </div>
  
          </div>
        </div>
    </div>
    <div class="form-row w-100 mt-3 justify-content-end">
      <button type="submit" class="btn btn-success mx-3">Agregar Referencia</button>
      <button class="btn btn-warning mx-3" type="reset" (click)="resetForm(validForm)">Limpiar <i class="fa fa-undo"></i></button>
    </div>
</form>
  
  
  <div id="clipboard" class="border-top pt-2">
  
    <label for="title">Referencia Final:</label>
    <div class="input-group">
      <div *ngIf="userRegister" class="input-group-prepend"><button class="btn btn-outline-info" (click)="saveHistory()">Guardar
          en biblioteca</button></div>
      <input type="text" class="form-control" id="title" maxlength="100" #userinput [(ngModel)]="referenciaFinal" name="title">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="copyInputMessage(userinput)" value="click to copy">Copiar al porta
          papeles</button>
      </div>
    </div>
    <p class="text-monospace text-muted small">Ejemplo: {{ejemplo}}</p>
  </div>
  
  </main>