<main class="card"  id="Reference">
  <h3 class="text-center">ICONTEC</h3>
  <h5 class="text-center">Normas Jurídicas</h5>

  <form  id="formReference" (ngSubmit)="addReference()" #validForm="ngForm">
    <div class="form-row justify-content-around">

        <div class="col-md-6">
          <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="title">Jurisdicción</label>
                    <input type="text" placeholder="Colombia" class="form-control" id="title" maxlength="100" [(ngModel)]="jurisdiccion"
                      name="title">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="title">Ministerio o entidad responsable</label>
                    <input type="text" placeholder="Congreso de la república" class="form-control" id="title" maxlength="100" [(ngModel)]="autorCorporativo"
                      name="title">
                  </div>
                  <div class="form-group col-12">
                    <label for="title">Designación</label>
                    <input type="text" placeholder="Ley 100" class="form-control" id="title" maxlength="100" [(ngModel)]="designacion"
                      name="title">
                  </div>


                  <div class="form-group col-12">
                    <label for="title">Fecha de Norma</label>

                    <div class="form-row">
                      <div class="col-md-4">
                          <select [(ngModel)]="fechaNormaDia" name="fechaNormaDia" class="form-control">
                            <option value="" disabled selected>Día</option>
                            <option *ngFor="let dia of dia" value="{{dia}}">{{dia}}</option>
                          </select>
                      </div>

                      <div class="col-md-4">
                          <select [(ngModel)]="fechaNormaMes" name="fechaNormaMes" class="form-control">
                            <option value="" disabled selected>Mes</option>
                            <option *ngFor="let mes of mes" value="{{mes}}">{{mes}}</option>
                          </select>
                      </div>

                      <div class="col-md-4">
                        <select [(ngModel)]="fechaNormaAnio" name="fechaNormaAnio" class="form-control">
                          <option value="" disabled selected>Año</option>
                          <option *ngFor="let anio of anioCita" value="{{anio}}">{{anio}}</option>
                        </select>
                      </div>
                    </div>
                  </div>


                  <div class="form-group col-12">
                    <label for="title">Nombre de la norma</label>
                    <input type="text" placeholder="Todas las personas tienen derecho a una identidad." class="form-control" id="title"
                      maxlength="100" [(ngModel)]="nombreNorma" name="title">
                  </div>

          </div>
        </div>
          

        <div class="col-md-5">
          <div class="form-row">

                <div class="form-group col-12">
                  <label for="title">Titulo de la publicación</label>
                  <input type="text" placeholder="Diario Oficial." class="form-control" id="title" maxlength="100" [(ngModel)]="tituloPublicacion"
                    name="title">
                </div>


                <div class="form-group col-md-6">
                  <label for="title">Lugar de la publicación</label>
                  <input type="text" placeholder="Medellin." class="form-control" id="title" maxlength="100" [(ngModel)]="lugarPublicacion"
                    name="title">
                </div>


                <div class="form-group col-md-6">
                  <label for="title">Año de publicación</label>
                  <select [(ngModel)]="anioPublicacion" name="anioPublicacion" class="form-control">
                    <option value="" disabled selected>Año</option>
                    <option *ngFor="let anio of anio" value="{{anio}}">{{anio}}</option>
                  </select>
                </div>

                <div class="form-group col-md-6">
                  <label for="title">Pagina Inicial</label>
                  <input type="number" placeholder="4" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaInicial" name="paginaInicial">
                </div>

                <div class="form-group col-md-6">
                  <label for="title">Pagina final</label>
                  <input type="number" placeholder="28" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaFinal" name="paginaFinal">
                </div>

          </div>
        </div>

    </div>
    <div class="form-row w-100 mt-3 justify-content-end">
      <button type="submit" class="btn btn-success mx-3">Agregar Referencia</button>
      <button class="btn btn-warning mx-3" type="reset" (click)="resetForm(validForm)">Limpiar <i class="fa fa-undo"></i></button>
    </div>
  </form>


  <div id="clipboard" class="border-top pt-2">
  
    <label for="title">Referencia Final:</label>
    <div class="input-group">
      <div *ngIf="userRegister" class="input-group-prepend"><button class="btn btn-outline-info" (click)="saveHistory()">Guardar
          en biblioteca</button></div>
      <input type="text" class="form-control" id="title" maxlength="100" #userinput [(ngModel)]="referenciaFinal" name="title">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="copyInputMessage(userinput)" value="click to copy">Copiar al porta
          papeles</button>
      </div>
    </div>
    <p class="text-monospace text-muted small">Ejemplo: {{ejemplo}}</p>
  </div>


</main>