<main class="card">
    <h3 class="text-center">ICONTEC</h3>
    <h5 class="text-center">Libros</h5>
  <form (ngSubmit)="addReference()" #validForm="ngForm">
      <div class="form-row">
        <div class="col-md-3">
            <div *ngFor="let item of nombres; let in=index" class="border rounded mb-2 p-2">
              <div class="form-group">
                <label for="title">Nombre</label>
                <input type="text" placeholder="Ramiro" class="form-control" id="title" maxlength="100" [(ngModel)]="nombres[in].value"
                  name="nameN{{in}}">
              </div>

              <div class="form-group">
                <label for="title">Apellido</label>
                <input type="text" placeholder="Pérez" class="form-control" id="title" maxlength="100" [(ngModel)]="apellidos[in].value"
                  name="nameA{{in}}">
              </div>
              <button class="btn btn-outline-danger btn-sm d-block mx-auto" *ngIf="in != 0" (click)="quitAuthor(in)">Quitar</button>
            </div>
            <button class="btn btn-outline-primary btn-sm d-block mx-auto" (click)="addAuthor()">Agregar Autor</button>
        </div>
        
        <div class="col-md-8 offset-md-1">
          <div class="form-row">
            <div class="form-group col-12">
              <label for="titulo">Titulo</label>
              <input type="text" placeholder="Titulo" class="form-control" id="titulo" maxlength="100" [(ngModel)]="titulo"
                name="titulo">
            </div>

            <div class="form-group col-12">
              <label for="subtitulo">Subtitulo</label>
              <input type="text" placeholder="Subtitulo" class="form-control" id="subtitulo" maxlength="100" [(ngModel)]="subtitulo"
                name="subtitulo">
            </div>

            <div class="form-group col-md-4">
              <label for="edicion">Numero Edición</label>
              <input type="text" placeholder="2000" class="form-control" id="edicion" maxlength="100" [(ngModel)]="edicion"
                name="edicion">
            </div>

            <div class="form-group col-md-4">
              <label for="ciudad">Ciudad de Publicacion</label>
              <input type="text" placeholder="Bogota" class="form-control" id="ciudad" maxlength="100" [(ngModel)]="ciudad"
                name="ciudad">
            </div>

            <div class="form-group col-md-4">
              <label for="editorial">Editorial</label>
              <input type="text" placeholder="Editorial" class="form-control" id="editorial" maxlength="100" [(ngModel)]="editorial"
                name="editorial">
            </div>

            <div class="form-group col-md-4">
              <label for="anioPublicacion">Año de publicación</label>
              <select [(ngModel)]="anioPublicacion" name="anioPublicacion" class="form-control">
                <option value="" disabled selected>Año Publicación</option>
                <option *ngFor="let anio of anio" value="{{anio}}">{{anio}}</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="title">Paginación</label>
              <input type="text" placeholder="Paginas" class="form-control" id="paginas" maxlength="100" [(ngModel)]="paginas"
                name="paginas">
            </div>
          </div>

        </div>
        </div>

        <div class="form-row mt-3 justify-content-end">
          <button type="submit" class="btn btn-success mx-3">Agregar Referencia</button>
          <button class="btn btn-warning mx-3" type="reset" (click)="resetForm(validForm)">Limpiar <i class="fa fa-undo"></i></button>
        </div>

  </form>


  <div id="clipboard" class="border-top pt-2">
    
    <label for="title">Referencia Final:</label>
    <div class="input-group">
      <input type="text" class="form-control" id="title" maxlength="100" #userinput [(ngModel)]="referenciaFinal" name="title">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="copyInputMessage(userinput)" value="click to copy">Copiar al porta papeles</button>
      </div>
    </div>

    <button *ngIf="userRegister">Guardar en historial</button>
    <p class="text-monospace text-muted small">Ejemplo: {{ejemplo}}</p>
  </div>


</main>