<main class="container card mt-5">
    <form class="row mt-4" (ngSubmit)="addReference()" #validForm="ngForm">
      <div class="col-12 mb-5">
        <h3 class="text-center">APA</h3>
        <h5 class="text-center">Periodico</h5>
        <div class="row justify-content-center">
  
          <div class="col-md-4 pr-md-5 border-right">
            <div *ngFor="let item of nombres; let in=index">
  
              <div class="form-group">
                <label for="title">Apellido</label>
                <input type="text" placeholder="Aunión" class="form-control" id="title" maxlength="100" [(ngModel)]="apellidos[in].value"
                  name="nameA{{in}}">
              </div>
  
              <div class="form-group">
                <label for="title">Iniciales Nombre</label>
                <input type="text" placeholder="J. A." class="form-control" id="title" maxlength="100" [(ngModel)]="nombres[in].value"
                  name="nameN{{in}}">
              </div>
  
              <button *ngIf="in != 0" (click)="quitAuthor(in)">Quitar</button>
            </div>
            <button (click)="addAuthor()">Agregar Autor</button>
  
            <div class="form-group">
                <label for="title">Fecha de la publicación</label>
                <select [(ngModel)]="fechaCitaDia" name="fechaCitaDia" class="form-control">
                  <option value="" disabled selected>Día</option>
                  <option *ngFor="let dia of dia" value="{{dia}}">{{dia}}</option>
                </select>
    
                <select [(ngModel)]="fechaCitaMes" name="fechaCitaMes" class="form-control">
                  <option value="" disabled selected>Mes</option>
                  <option *ngFor="let mes of mes" value="{{mes}}">{{mes}}</option>
                </select>
    
                <select [(ngModel)]="fechaCitaAnio" name="fechaCitaAnio" class="form-control">
                  <option value="" disabled selected>Año</option>
                  <option *ngFor="let anio of anioCita" value="{{anio}}">{{anio}}</option>
                </select>
    
              </div>
  
            <div class="form-group  border-top ">
              <label for="titulo">Titulo Articulo</label>
              <input type="text" placeholder="Una enciclopedia visual del turismo en Madrid." class="form-control" id="titulo" maxlength="100" [(ngModel)]="titulo"
                name="titulo">
            </div>
  
            <div class="form-group">
              <label for="periodico">Titulo del Periodico</label>
              <input type="text" placeholder="El Pais" class="form-control" id="periodico" maxlength="100"
                [(ngModel)]="periodico" name="periodico">
            </div>

            <div class="form-group">
                <label for="title">Pagina Inicial</label>
                <input type="text" placeholder="Ej: B5" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaInicial"
                  name="paginaInicial">
              </div>
    
              <div class="form-group">
                <label for="title">Pagina final</label>
                <input type="text" placeholder="Ej: B9" class="form-control" id="title" maxlength="100" [(ngModel)]="paginaFinal"
                  name="paginaFinal">
              </div>
    
            <button type="submit" class="btn btn-lg btn-success mx-auto">Agregar Referencia</button>
            <button class="btn btn-outline-inf btn-space btn-lg" type="reset" (click)="resetForm(validForm)">
              <i class="fas fa-sync-alt"></i> Limpiar
            </button>
          </div>
        </div>
      </div>
  
    </form>
  
  
    <div class="form-group">
      <label for="title">Referencia Final</label>
      <input type="text" class="form-control" id="title" maxlength="100" #userinput [(ngModel)]="referenciaFinal" name="title">
      <button (click)="copyInputMessage(userinput)" value="click to copy">Copiar al porta papeles</button>
      <button *ngIf="userRegister">Guardar en historial</button>
      <p>Ejemplo: {{ejemplo}}</p>
    </div>
  
  
  </main>